<h1><%= @artist.id ? 'Edit Artist' : 'Create a Artist' %></h1>

<%= form_for @artist do |n| %>
  <%= n.label :name %>
  <%= n.text_field :name %>

  <%= n.label :genre %>
  <%= n.text_field :genre %>
  
  <%= n.submit "Submit Changes" %>

  <span class="ui button beig">
  <%= link_to 'Back', artists_path %>
  </span>
  <% end %>
