<h1><%= @artist.name %> Songs</h1>

<p><% @artist.songs.each do |song| %>
  <h2><%= link_to song.name, [@artist, song] %></h2>
  <h3> <%= link_to 'Edit', edit_artist_song_path(@artist, song) %>
 
  <%= link_to 'Delete', [@artist, song], method: :delete %></h3>
   <% end %></p>
   <hr>
   <%= link_to 'New Song', new_artist_song_path(@artist) %>
 
   <p><%= link_to 'Back', artists_path %></p>

