<h1><%= @billb.id ? 'Edit Billboard Category' : 'Create a New Billboard Category' %></h1>

<%= form_for @billb do |n| %>
  <%= n.label :name %>
  <%= n.text_field :name %>


  <%= n.label :genre %>
  <%= n.text_field :genre %>

  <%= n.submit "Submit Changes" %>
  <% end %>

  <br />
  <p><span class="ui button"><%= link_to 'Back', billbs_path %></span></p>

  